:root {
  --primary-color: rgb(234, 0, 94);
  --secondary-color: rgb(255, 122, 175);
}

.light {
  --sidebar-active: var(--primary-color);
  --links: var(--secondary-color);
}

::selection {
  background: var(--primary-color);
  color:#fff;
}

#disqus_thread {
  margin-top: 280px;
}

.icp {
  text-align: center;
  margin: 24px 0;
}

.icp-link,
.icp-link:visited {
  color: var(--primary-color);
  text-decoration: none;
}
